NODE_ENV=dev
API_PORT=1337
JWT_SECRET=Est3EsMISEcr321tC

MYSQL_DB_NAME=braincrate_db
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_ROOT_PASS=rootPass
MYSQL_USER=braincrate-user
MYSQL_PASSWORD=braincrate-password
MYSQL_TIMEZONE=Europe/Madrid

# Puerto de Nginx para servir las imagenes
NGINX_PORT=8080